@media screen and (max-width:1279px){  
  .menuName{
    max-height: 6vh;
  }
  .menuName> .nav-link {
    height: 6vh;
    padding-top: 5%;
  }
  .component{
    height: 65vh;
  }
  .explain{
    width:38%;
    line-height: 1.3em;
    font-size: 1.4rem;
    max-height: 18vh;
  }
  .title{
    margin-top: 5px;
  }
}
@media screen and (max-width:1023px){
  .menuName{
    max-height: 4vh;
  }
  .menuName> .nav-link {
    height: 4vh;
  }
  .menuName>  .nav-link {
    font-size: 1.4rem;
  }

  .veCover{
    display: flexbox;
    flex-wrap: wrap;
    padding: 0 5%;
  }
  .videoCover{
    min-width: 100%;
  }
  .explain{
    min-width:100%;
    line-height: 1.3em;
    font-size: 1.3rem;
    max-height: 25vh;
    margin-top: 5%;
  }
  h5{
    padding-left: 5%;
  }
}
@media screen and (max-width:767px) {
  h5{
    font-size: 1rem;
  }
  .explain{
    max-height: 35vh;
    font-size: 0.8rem;
  }
} 

html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #fefbf3;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a,
a:hover,
a:active {
  color: #333;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursorPointer {
  cursor: pointer;
}

.headerCover {
  padding-top: 1.5%;
}

.header {
  margin: 0 15%;
}

h1{
  font-size: 4.5rem;
}

.header > p {
  /* background-color: antiquewhite; */
  margin-left: 5%;
  padding-top: 1%;
}

.contents {
  margin: 2.5% 15%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

.menuName {
  width: 33%;
  height: 5vh;
}

.menuName > div {
  padding: 3% 0;
  height: 6vh;
  text-indent: 10%;
  letter-spacing: 4px;
}

.nav-tabs {
  border: none;
  background-color: #fefbf3;
}

.nav .nav-link {
  box-sizing: border-box;
  color: #333;
  border-bottom: 1px solid #333;
  background-color: #fefbf3;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
}

.nav .nav-link.active {
  border-color: #333;
  border-bottom: #fff;
  background-color: #fff;
}

.nav .nav-link:hover {
  border-color: #333;
  background-color: #fff;
}

.component {
  margin: 1% 0;
  height: auto;
}
.videoCover{ 
  width: 60%;
}
h5 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

.veCover{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

video{
  width: 100%
}
.explain {
  width: 38%;
  border-left: 1px solid #333;
  letter-spacing: 2px;
  height: 58vh;
  font-size: 1.6rem;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: scroll;
}
.explain li:not(:first-child) {
  margin: 3% 0;
}
.explain::-webkit-scrollbar{
  display: none;
}
.explain {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.title {
  margin-top: 2%;
  font-size: 1.7rem;
  letter-spacing: 3px;
}

span {
  font-weight: bold;
}

/* .profCover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0;
}
.profImg{
  background: url(./media/profile1.png) no-repeat 0 0;
  width: 22%;
  height: 35vh;
}
.profEx{
  width: 50%;
}
.profEx>ul{
  background-color: red;
  margin: 10% 20%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}  */